//div
    p(class="d-flex justify-content-center") Todos os direitos reservados - rsv6 | 2020

footer(class="my-5 pt-5 text-muted text-center text-small" style="margin-botto,:0")
        p(class="mb-1") &reg; 2020 Todos os direitos reservados - Alunobre Ind. e Com. de Esq. Ltda.
        p(class="mb-1") Devenvolvido por: 
            a(href="#") @rsv6.
        ul(class="list-inline")
            li(class="list-inline-item")
                a(href="/") Início
            li(class="list-inline-item")
                a(href="/sobre") sobre
            li(class="list-inline-item")
                a(href="/contato") contato


//footer(class="footer")
    div(class="container")
        span(class="text-muted") &reg; Todos os direitos reservados - 2020.
      
    


//footer(class="footer") 
    div(class="footer-rsv") 
        span 
        br
        span Alunobre Ind. e Com. de Esq. Ltda
        br
        span(id="dev") develped by rsv6 
        br
        span Tel. (85) 3485.0087 | 3485.3288 - E-mail: 
            a contato@alunobre.com